<script>
 	var count = 0;
 	$(function() {
 		for(var i = 0; i < 8; i++) {
 			for(var j = 0; j < 8; j++) {
 				if (count % 8 == 0) {
 					$('#chessboard').append('<div class="tile" style="clear:both;"></div>');
 				} else {
 					$('#chessboard').append('<div class="tile"></div>');
 				}
 				if (i % 2 == 0 && j % 2 != 0 || i % 2 != 0 && j % 2 == 0) {
 					$('.tile').eq(count).addClass('black');
 				} else {
 					$('.tile').eq(count).addClass('white');
 				}
 				count++;
 			}
 		}
 	});
</script>
<h1>Game</h1>

<div id="chessboard">
	
</div>
<div class="game-info pull-right">
<ul>
<li><%= @game.name %></li><br />
<% @user.each do |user| %>
<% if user.id == @game.white_player_id %>
<li>White Player: <%= user.email %></li><br />
<% end %>
<% if user.id == @game.black_player_id %>
<li>Black Player: <%= user.email %></li>
<% end %>
<% end %>
</ul>
</div>