// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chessboard {
 	float: left;
 	margin: 0 auto;
 	
 	margin: 50px;
 	width: 560px;
 	height: 560px;
 }
 
 .tile {
 	width: 70px;
 	height: 70px;
 	float: left;
 
 }
 .white {
 	background-color: white;
 }
 
 .black {
 	background-color:  gray;
 }

 .icon {
 	height: 45px;
 	width: 45px;
 	margin: 5px auto;
 }

 .selected {
 	background-color: rgba(255,0,0,0.5);

 }